[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cheapr"]
	path = cheapr
	url = https://github.com/nicchr/cheapr
[submodule "cppdoubles"]
	path = cppdoubles
	url = https://github.com/nicchr/cppdoubles
[submodule "fastplyr"]
	path = fastplyr
	url = https://github.com/nicchr/fastplyr
[submodule "timeplyr"]
	path = timeplyr
	url = https://github.com/nicchr/timeplyr
